.product {
  display: flex;
  width: 100%;
  border: 2px solid rebeccapurple;
  border-radius: 8px;
  position: relative;
}

.product .trash {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 16px;
  height: 16px;
  color: red;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.product .trash:hover {
  color: #AA0000;
}

.product .info {
  flex: 1;
}

.product > span:not(:last-child):not(.trash) {
  border-right: 2px solid rebeccapurple;
}

.product > span {
  padding: 8px;
  display: flex;
  align-items: center;
}

.product .image-container {
  width: 100px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.product .image-container img {
  max-width: 100%;
  height: 100%;
  background-color: white;
  display: block;
  object-fit: contain;
  border-radius: 2px;
}

.product .info {
  display: flex;
  flex-direction: column;
}

.product .info .price {
  display: flex;
  width: 100%;
  align-items: center;
  flex: 1;
}

.product .info .price > span {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  flex: 1;
}

.product .info .price > span:not(:last-child) {
  border-right: 2px solid rebeccapurple;
}

.product .info .amount-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.product .amount-option {
  width: 16px;
  height: 16px;
  border: 1px solid rebeccapurple;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.product .amount-option .plus {
  position: relative;
  top: 2px;
}

